body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.dark{
    background-color: grey;
    color: white;
    padding: 10px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0px;
    margin: 0px;
}

.top {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    gap: 30px;
}

.top-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 8px;
    justify-content: center;
}

.top-img {
    width: 200px;
    height: auto;
}

.top-body {
    margin: 0px;
}

.information {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    padding: 30px 140px;
}

.info {
    display: flex;
}

.info-img {
    width: 50px;
    height: auto;
}

.unit,.information-header {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 70px 140px;
    background-color: gray;
}

.quote-source {
    align-self: end;
}

.quote-italic {
    font-style: italic;
}

.quote-source {
    font-weight: 600;
}

.bottom {
    padding: 70px 100px;
}

.cta {
    display: flex;
    background-color: blue;
    padding: 30px 60px;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.cta-call {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cta-header {
    font-weight: 600;
}

.cta-button {
    display: flex;
    align-items: center;
}

.cta-button>button {
    border: 1px white solid;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}