body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0px;
    margin: 0px;
}

.top {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    gap: 30px;
}

.top-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 8px;
    justify-content: center;
}

.top-img {
    width: 200px;
    height: auto;
}

.top-body {
    margin: 0px;
}